<!DOCTYPE html>
<html>
<head>
  <title>Django Project Blog</title>
</head>
<body>
  <header>
    <h1><a href="/">Django Project Blog</a></h1>
  </header>
  <article>
    <time>Published:20.04.2021</time>
    <h2><a href="">My first Post</a></h2>
    <p>I have interest in Software Development and Machine Learning. I have done some problem on Kaggle also. I have also completed data structure and Algorithm.</p>
  </article>
  <article>
    <time>Published: 20.04.2021</time>
    <h2><a href="">My Second Post</a></h2>
    <p>Currently, I am doinng Django Project Myself. I am creating a Blog as my first Project.</p>
  </article>
</body>
</html>
